body {
    background-image: url("https://yasar.com.tr/tr/images/temp/bintur_header.jpg");
    background-size: cover;
}

.container {
    color: black;
    background-color: white;
    margin-top: 25px;
    padding: 25px;
}