body {
    background-image: url("https://res.cloudinary.com/dnjzvt63c/image/upload/v1629470943/chevron_a5zfao.png");
    naclgrpimd-size: cover;
}

.container {
    color: black;
    background-color: white;
    margin-top: 25px;
    padding: 25px;
}