<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:fragment="nav">
    <nav class="navbar bg-success navbar-expand-lg navbar-dark">
        <div class="container-fluid" >
            <a class="navbar-brand" style="font-family: Optima">CaMaRu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" style="font-family: Optima">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/addtimesheet}" style="font-family: Optima">Add timesheet</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link" th:href="@{/viewall}" style="font-family: Optima">View All Timesheets</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link" th:href="@{/actionlog}" style="font-family: Optima">Employee Actions</a>
                    </li>
                </ul>

                <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/profile}" style="font-family: Optima">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login}" style="font-family: Optima">Login</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/register}" style="font-family: Optima">Register</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}" style="font-family: Optima">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div th:fragment="footer-prov">
    <footer class="footer-p bg-success text-white pt-3 pb-2">



        <div class="row text-center text-md-left">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">CaMaRu</h5>
                <p>This website is for employees of the CaMaRu travel agency to create and submit
                    timesheets and view past submissions. If you are a new employee
                    please register a new account. Otherwise sign in and submit your timesheets for approval by an admin.</p>

            </div>


            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful links</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;"> Your Account</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;"> Help</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning" >Contact</h5>
                <p>
                    <i class="fas fa-envelope mr-3"></i>camaru9994@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>+92 5552859445
                </p>
            </div>

        </div>






    </footer>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>