<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="base::nav"></div>
<div class="container">
    <h2 class="d-flex justify-content-center" th:inline="text">[[${employee.firstName}]] [[${employee.lastName}]]</h2>
    <h4 th:inline="text"> <b>Username:</b> [[${employee.username}]]</h4>
    <h4 th:inline="text"><b>Email:</b> [[${employee.email}]]</h4>

    <a th:href="@{/viewtimesheets}"><input type="button" value="View Your Timesheets" Style="color: white; background-color:green; border-color: black;"></a>
    <a th:href="@{/viewpaystubs}"><input type="button" value="View Your Paystubs" Style="color: white; background-color:green; border-color: black;"></a>




</div>

<div th:replace="base::footer-prov"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>