<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h2 th:inline="text"> annual leave: [[${timesheet.annualLeave}]] </h2>
<h2 th:inline="text"> holiday worked: [[${timesheet.holidayWorked}]]</h2>
<h2 th:inline="text"> holiday overtime: [[${timesheet.holidayOvertime}]]</h2>
<h2 th:inline="text"> regular hours: [[${timesheet.regular}]] + [[${timesheet.regularMonday}]] </h2>
<h2 th:inline="text"> overtime: [[${timesheet.regularOvertime}]]</h2>
<h2 th:inline="text"> stage: [[${timesheet.stage}]]</h2>
<h2 th:inline="text"> TOTAL SALARY: [[${timesheet.weekTotal}]]</h2>

<h2 th:inline="text"> total hours: [[${timesheet.totalHours}]]</h2>

<a th:href="@{/timesheetapproval/{id}(id=${timesheet.id})}">Submit for approval</a>
<a th:href="@{/edittimesheet/{id}(id=${timesheet.id})}">Edit timesheet</a>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>