<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<div th:replace="base::nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h5 class="text-right">Weekly Timesheet </h5>
                        </div>
                        <div class="col col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th class="hidden-xs">Name: [[${timesheet.employee.firstName}]] [[${timesheet.employee.lastName}]]</th>
                            <th > Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Regular:</th>
                            <td th:inline="text">$[[${timesheet.regular}]]</td>
                        </tr>
                        <tr>
                            <th scope="row">Overtime:</th>
                            <td th:inline="text">$[[${timesheet.regularOvertime}]]</td>
                        </tr>

                        <tr>
                            <th scope="row">Annual Leave:</th>
                            <td th:inline="text">$[[${timesheet.annualLeave}]]</td>
                        </tr>
                        <tr>
                            <th scope="row">Holiday:</th>
                            <td th:inline="text">$[[${timesheet.annualLeave}]]</td>
                        </tr>
                        <tr>
                            <th scope="row">Holiday Overtime:</th>
                            <td th:inline="text">$[[${timesheet.holidayOvertime}]]</td>
                        </tr>

                        <tr>
                            <th scope="row">Total Hours Worked:</th>
                            <td th:inline="text">[[${timesheet.totalHours}]] hours</td>
                        </tr>

                        <tr>
                            <th scope="row">Total Salary:</th>
                            <td th:inline="text">$[[${timesheet.weekTotal}]] DATE: [[${timesheet.date}]]</td>
                        </tr>

                        </tbody>

                    </table>
                    <a sec:authorize="hasRole('USER')" th:href="@{/timesheetapproval/{id}(id=${timesheet.id})}"><input type="button" value="Submit for approval" Style="color: white; background-color:green; border-color: black;"></a>
                    <a sec:authorize="hasRole('USER')"th:href="@{/edittimesheet/{id}(id=${timesheet.id})}"><input type="button" value="Edit" Style="color: white; background-color:green; border-color: black;"></a> <br>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/approve/{id}(id=${timesheet.id})}"><input type="button" value="Approve" Style="color: white; background-color:green; border-color: black;"></a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/reject/{id}(id=${timesheet.id})}"><input type="button" value="Reject" Style="color: white; background-color:green; border-color: black;"></a>
                    <h3 th:if="${message}">[[${message}]]</h3>
                    <h3 th:if="${message2}">[[${message2}]]</h3>
                    <h3 th:if="${message3}">[[${message3}]]</h3>

                </div>


            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>

