<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="base::nav"></div>
<div class="container">
    <form th:action="@{/savetimesheet}" method="post" th:object="${timesheet}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{employee}">
        <input type="hidden" th:field="*{stage}">
        <input type="hidden" th:field="*{payCode}">
        <input type="hidden" th:field="*{weekTotal}">
        <input type="hidden" th:field="*{date}">


        <input type="hidden" th:field="*{regular}">
        <input type="hidden" th:field="*{annualLeave}">
        <input type="hidden" th:field="*{holidayWorked}">
        <input type="hidden" th:field="*{holidayOvertime}">
        <input type="hidden" th:field="*{regularOvertime}">
        <input type="hidden" th:field="*{compTimeEarned}">

        <input type="hidden" th:field="*{compTimeEarnedMonday}">
        <input type="hidden" th:field="*{compTimeEarnedTuesday}">
        <input type="hidden" th:field="*{compTimeEarnedWednesday}">
        <input type="hidden" th:field="*{compTimeEarnedThursday}">
        <input type="hidden" th:field="*{compTimeEarnedFriday}">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title m-b-0">Time Sheet</h5>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Regular</th>
                            <th scope="col">Overtime</th>
                            <th scope="col">Leave</th>
                            <th scope="col">Annual Leave</th>
                            <th scope="col">Holiday Off</th>
                            <th scope="col">Holiday Worked</th>
                            <th scope="col">Comp Time Used</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Monday</th>
                            <td><input type="number" th:field="*{regularMonday}"></td>
                            <td><input type="number" th:field="*{regularOvertimeMonday}"></td>
                            <td><input type="number" th:field="*{leaveWithoutPayMonday}"></td>
                            <td><input type="number" th:field="*{annualLeaveMonday}"></td>
                            <td><select th:field="*{holidayMonday}">
                                <option th:value="false">No</option>
                                <option th:value="true">Yes</option>
                            </select></td>
                            <td><input type="number" th:field="*{holidayWorkedMonday}"></td>
                            <td><input type="number" th:field="*{compTimeUsedMonday}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Tuesday</th>
                            <td><input type="number" th:field="*{regularTuesday}"></td>
                            <td><input type="number" th:field="*{regularOvertimeTuesday}"></td>
                            <td><input type="number" th:field="*{leaveWithoutPayTuesday}"></td>
                            <td><input type="number" th:field="*{annualLeaveTuesday}"></td>
                            <td><select th:field="*{holidayTuesday}">
                                <option th:value="false">No</option>
                                <option th:value="true">Yes</option>
                            </select></td>
                            <td><input type="number" th:field="*{holidayWorkedTuesday}"></td>
                            <td><input type="number" th:field="*{compTimeUsedTuesday}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Wednesday</th>
                            <td><input type="number" th:field="*{regularWednesday}"></td>
                            <td><input type="number" th:field="*{regularOvertimeWednesday}"></td>
                            <td><input type="number" th:field="*{leaveWithoutPayWednesday}"></td>
                            <td><input type="number" th:field="*{annualLeaveWednesday}"></td>
                            <td><select th:field="*{holidayWednesday}">
                                <option th:value="false">No</option>
                                <option th:value="true">Yes</option>
                            </select></td>
                            <td><input type="number" th:field="*{holidayWorkedWednesday}"></td>
                            <td><input type="number" th:field="*{compTimeUsedWednesday}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Thursday</th>
                            <td><input type="number" th:field="*{regularThursday}"></td>
                            <td><input type="number" th:field="*{regularOvertimeThursday}"></td>
                            <td><input type="number" th:field="*{leaveWithoutPayThursday}"></td>
                            <td><input type="number" th:field="*{annualLeaveThursday}"></td>
                            <td><select th:field="*{holidayThursday}">
                                <option th:value="false">No</option>
                                <option th:value="true">Yes</option>
                            </select></td>
                            <td><input type="number" th:field="*{holidayWorkedThursday}"></td>
                            <td><input type="number" th:field="*{compTimeUsedThursday}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Friday</th>
                            <td><input type="number" th:field="*{regularFriday}"></td>
                            <td><input type="number" th:field="*{regularOvertimeFriday}"></td>
                            <td><input type="number" th:field="*{leaveWithoutPayFriday}"></td>
                            <td><input type="number" th:field="*{annualLeaveFriday}"></td>
                            <td><select th:field="*{holidayFriday}">
                                <option th:value="false">No</option>
                                <option th:value="true">Yes</option>
                            </select></td>
                            <td><input type="number" th:field="*{holidayWorkedFriday}"></td>
                            <td><input type="number" th:field="*{compTimeUsedFriday}"></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <input class="table" type="submit" value="save" Style="color: white; background-color:navy; border-color: black;"/>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>